.smat-app-mat{
  position: fixed;
  height:35px;
  width:40px;
  border-radius: 6px;
  background-color:#F15725;
  bottom:10px;
  left:10px;
  cursor: pointer;
  border:3px solid #80898F;
  text-align: center;
  padding-top:4px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.smat-app-mat:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.smat-app-mat-open{
  position: fixed;
  height:420px;
  width:400px;
  background-color:rgb(36, 36, 36);
  bottom: 75px;
  left:10px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:4px;
  z-index: 10001;
}
.smat-down-arrow {
	border-color: rgb(36, 36, 36) transparent;
	border-style: solid;
	border-width: 15px 15px 0px 15px;
	height: 0px;
  width: 0px;
  position:fixed;
  bottom:65px;
  left:19px;
  z-index: 10000;
}
.smat-tab-select{
  display:inline;
  user-select: none;
  width:150px;
  height:25px;
  color:#F15725;
  cursor: pointer;
  margin-right:10px;
  margin-left:10px;
}
.smat-tab{
  display: inline;
  user-select: none;
  width:150px;
  height:25px;
  cursor: pointer;
  margin-right:10px;
  color:white;
  margin-left:10px;
}
.smat-tab-line{
  background-color:rgb(36,36,36);
}
.smat-body{
  color:white;
}
.smat-notifications-body{
  height:400px;
  overflow-y: auto;
}
.smat-notifications{
  min-height:50px;
  margin-bottom:4px;
  max-height: 150px;
  word-wrap: break-word;
}
.smat-notifications:hover{
  background-color:rgb(10,10,10);
}
.smat-notification-message{
  word-wrap:break-word;
  font-size: 12px;
}